/*colors*/
/*#626261*/
/* ========================================================================= */
/* ROOT
/* ========================================================================= */
/* line 4, ../scss/_main.scss */
body, html {
  margin: 0;
  height: 100%;
  color: #555555;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

/* line 11, ../scss/_main.scss */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* ========================================================================= */
/* GENERAL
/* ========================================================================= */
/* line 19, ../scss/_main.scss */
#wrapper {
  width: 100%;
}

/* line 22, ../scss/_main.scss */
.section {
  width: 100%;
  text-align: center;
  padding: 60px 0 120px 0;
}
/* line 26, ../scss/_main.scss */
.section p {
  padding: 0px 200px;
}

/* line 30, ../scss/_main.scss */
.section-line {
  height: 1px;
  width: 200px;
  border-bottom: 1px solid #61666d;
  text-align: center;
  margin: 20px auto 40px auto;
  padding: 20px 0;
}

/* line 38, ../scss/_main.scss */
.hidden {
  display: none;
}

/* line 41, ../scss/_main.scss */
.disabled {
  opacity: 0.1;
}

/* ========================================================================= */
/* TYPOGRAPHY
/* ========================================================================= */
/* line 47, ../scss/_main.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
  text-align: center;
  font-weight: 400;
  line-height: 1.6em;
}

/* line 53, ../scss/_main.scss */
h1, h2 {
  margin: 40px auto 20px auto;
  text-transform: uppercase;
  font-size: 60px;
  color: #555555;
}

/* line 59, ../scss/_main.scss */
p {
  font-size: 25px;
  color: #555555;
  font-weight: 300;
  line-height: 1.6em;
}

/* line 65, ../scss/_main.scss */
a {
  color: #88939e;
  transition: all 300ms ease-in-out;
}
/* line 68, ../scss/_main.scss */
a:hover {
  text-decoration: none;
}
/* line 72, ../scss/_main.scss */
a:hover, a:visited {
  color: #6e7680;
}

/* line 76, ../scss/_main.scss */
.text-focus {
  font-weight: 700;
}

/* line 79, ../scss/_main.scss */
.smallertext {
  font-size: 20px;
}

/* ========================================================================= */
/* BUTTONS
/* ========================================================================= */
/* line 85, ../scss/_main.scss */
.button {
  cursor: pointer;
  display: inline-block;
  background-color: rgba(162, 175, 189, 0.8);
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  padding: 20px;
  margin: 40px 20px;
  box-shadow: 0;
  border-radius: 0;
  border: 0;
  text-transform: uppercase;
  transition: all 200ms ease;
}
/* line 100, ../scss/_main.scss */
.button:hover {
  background-color: rgba(141, 157, 174, 0.8);
  color: white;
  text-decoration: none;
}

/* line 107, ../scss/_main.scss */
.videobutton {
  width: 600px;
  height: 300px;
  display: block;
  margin: 40px auto 40px auto;
  padding: 80px;
}
/* line 113, ../scss/_main.scss */
.videobutton span {
  display: block;
  padding: 10px;
}
/* line 117, ../scss/_main.scss */
.videobutton .glyphicon {
  font-size: 5em;
}

/* line 121, ../scss/_main.scss */
a.button {
  color: white;
}

/* ========================================================================= */
/* NAVIGATION
/* ========================================================================= */
/* line 127, ../scss/_main.scss */
header {
  position: fixed;
  background: white;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 9000;
  border-bottom: 1px solid #eeeeee;
}
/* line 138, ../scss/_main.scss */
header .header-container {
  margin: 0 auto;
  max-width: 1600px;
}
/* line 143, ../scss/_main.scss */
header .logo,
header .social {
  height: 80px;
  width: 25%;
}
/* line 147, ../scss/_main.scss */
header .logo {
  float: left;
  padding: 15px;
  opacity: 0.7;
  transition: all 400ms ease-in-out;
}
/* line 152, ../scss/_main.scss */
header .logo:hover {
  opacity: 1;
}
/* line 156, ../scss/_main.scss */
header .social {
  padding: 20px;
  float: right;
}
/* line 160, ../scss/_main.scss */
header .mobile-link {
  width: 40%;
  padding: 24px;
  float: left;
  display: none;
  opacity: 0.7;
  cursor: pointer;
}
/* line 168, ../scss/_main.scss */
header .header-navigation {
  margin: 0 auto;
  padding: 20px;
  width: 50%;
}
/* line 174, ../scss/_main.scss */
header .header-navigation nav ul li {
  display: inline-block;
  padding: 5px 10px;
}

/* line 182, ../scss/_main.scss */
nav ul li a {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: #88939e;
  font-size: 1.1em;
}

/* line 188, ../scss/_main.scss */
.mobile-menu {
  display: none;
  background: white;
  width: 100%;
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  z-index: 9000;
}
/* line 198, ../scss/_main.scss */
.mobile-menu ul li {
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid #eeeeee;
  font-size: 1em;
}

/* line 208, ../scss/_main.scss */
.social a,
.mobile-social a {
  display: inline-block;
  margin-left: 15px;
  width: 36px;
  height: 36px;
  background: red;
  opacity: 0.7;
  transition: all 400ms ease-in-out;
}
/* line 216, ../scss/_main.scss */
.social a:hover,
.mobile-social a:hover {
  opacity: 1;
}
/* line 219, ../scss/_main.scss */
.social a.header-instagram,
.mobile-social a.header-instagram {
  background: url(../img/instagram-small.png);
}
/* line 222, ../scss/_main.scss */
.social a.header-facebook,
.mobile-social a.header-facebook {
  background: url(../img/facebook-small.png);
}
/* line 225, ../scss/_main.scss */
.social a.header-pinterest,
.mobile-social a.header-pinterest {
  background: url(../img/pinterest-small.png);
}

/* line 230, ../scss/_main.scss */
.mobile-social {
  display: none;
  margin: 0 auto;
}

/* ========================================================================= */
/* LANDINGPAGE
/* ========================================================================= */
/* line 237, ../scss/_main.scss */
.landing {
  background-color: #f0f1f2;
  background-image: url(../img/background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 1600px auto;
  background-position: top center;
  display: table;
  height: 100%;
}
/* line 246, ../scss/_main.scss */
.landing h1 {
  padding-top: 20px;
}
/* line 249, ../scss/_main.scss */
.landing h2 {
  font-size: 2em;
  text-transform: none;
}

/* ========================================================================= */
/* VINST
/* ========================================================================= */
/* line 257, ../scss/_main.scss */
.vinst {
  background-color: #f8f8f8;
  min-height: 700px;
}
/* line 260, ../scss/_main.scss */
.vinst .container {
  margin: 50px auto;
}
/* line 262, ../scss/_main.scss */
.vinst .container .grid-object {
  cursor: pointer;
  position: relative;
  margin-top: 30px;
  height: 220px;
  overflow: hidden;
}
/* line 268, ../scss/_main.scss */
.vinst .container .grid-object img {
  border: 15px solid #f0f1f2;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  padding: 0;
  width: 220px;
  height: 220px;
}
/* line 281, ../scss/_main.scss */
.vinst .container .overlay {
  opacity: 0;
  transition: all 400ms ease-in-out;
  cursor: pointer;
  position: absolute;
  width: 220px;
  padding: 30px 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  overflow: hidden;
  border: 15px solid transparent;
  background: rgba(255, 255, 255, 0.4);
}
/* line 296, ../scss/_main.scss */
.vinst .container .overlay:hover {
  opacity: 1;
}
/* line 298, ../scss/_main.scss */
.vinst .container .overlay:hover .button {
  -webkit-transform: scale(1);
}
/* line 302, ../scss/_main.scss */
.vinst .container .overlay span {
  padding: 5px 0px;
  margin: 0;
}
/* line 306, ../scss/_main.scss */
.vinst .container .overlay .button {
  transition: all 400ms ease-in-out;
  -webkit-transform: scale(0.9);
}
/* line 312, ../scss/_main.scss */
.vinst .button {
  margin-top: 20px;
}
/* line 316, ../scss/_main.scss */
.vinst p img {
  margin: 30px 0;
}

/* ========================================================================= */
/* REGLER
/* ========================================================================= */
/* line 324, ../scss/_main.scss */
.regler {
  background: transparent url(../img/pattern.jpg);
  background-repeat: repeat;
  padding: 0;
}
/* line 329, ../scss/_main.scss */
.regler .rules h3 {
  font-size: 3em;
}
/* line 332, ../scss/_main.scss */
.regler .rules p {
  font-size: 1.4em;
  padding: 10px;
}
/* line 337, ../scss/_main.scss */
.regler p {
  padding: 60px 100px;
}

/* line 341, ../scss/_main.scss */
.reglerbg {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 60px;
  padding: 60px;
}

/* ========================================================================= */
/* INSTAGRAM-BIDRAG
/* ========================================================================= */
/* line 349, ../scss/_main.scss */
.instagram {
  background-color: #f0f1f2;
}
/* line 351, ../scss/_main.scss */
.instagram .container {
  max-width: 1200px;
  margin-top: 40px;
}
/* line 355, ../scss/_main.scss */
.instagram .button {
  margin-top: 100px;
  margin-bottom: 0;
}
/* line 359, ../scss/_main.scss */
.instagram .grid-image {
  margin-top: 20px;
  position: relative;
}
/* line 363, ../scss/_main.scss */
.instagram .grid-image h4,
.instagram .grid-image .fb-like {
  width: 200px;
}
/* line 367, ../scss/_main.scss */
.instagram .grid-image a img {
  width: 200px;
  height: 200px;
  border: 0;
  margin: 0;
}

/* line 379, ../scss/_main.scss */
.grid-image h4,
.grid-image .fb-like,
#loadedImage h4,
#loadedImage .fb-like {
  background-color: white;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  font-size: 1.2em;
}
/* line 386, ../scss/_main.scss */
.grid-image h4,
#loadedImage h4 {
  padding: 20px 0 10px 0;
}
/* line 389, ../scss/_main.scss */
.grid-image a,
#loadedImage a {
  display: block;
}
/* line 392, ../scss/_main.scss */
.grid-image .fb-like,
#loadedImage .fb-like {
  display: block;
  padding: 10px 0 20px 0;
}

/* line 397, ../scss/_main.scss */
#loadedImage {
  display: none;
  background: #f8f8f8;
  padding: 10px 50px 40px 50px;
  position: fixed;
  top: 120px;
  left: 50%;
  z-index: 202021;
  margin-left: -193px;
}
/* line 407, ../scss/_main.scss */
#loadedImage h4,
#loadedImage .fb-like {
  width: 306px;
}
/* line 411, ../scss/_main.scss */
#loadedImage a img {
  width: 306px;
  height: 306px;
  border: 0;
  margin: 0;
}
/* line 418, ../scss/_main.scss */
#loadedImage #loadedImageClose {
  cursor: pointer;
  position: absolute;
  top: 10px;
  height: 40px;
  width: 40px;
  right: 10px;
  background: white;
  overflow: hidden;
}
/* line 427, ../scss/_main.scss */
#loadedImage #loadedImageClose p {
  font-size: 2em;
  line-height: 1em;
  height: 40px;
  padding: 5px 12px;
  margin: 0;
  width: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
}

/* line 440, ../scss/_main.scss */
#loadedOverlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 202020;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

/* line 452, ../scss/_main.scss */
.openInstagramModal {
  cursor: pointer;
}

/* line 456, ../scss/_main.scss */
#load-more .button {
  margin-top: 100px;
}

/* ========================================================================= */
/* INSPIRATION
/* ========================================================================= */
/* line 463, ../scss/_main.scss */
.inspiration {
  background-color: #f8f8f8;
  min-height: 700px;
}
/* line 466, ../scss/_main.scss */
.inspiration .social-links {
  position: relative;
  margin: 0 auto;
}
/* line 469, ../scss/_main.scss */
.inspiration .social-links a {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 64px;
  height: 64px;
  background-position: left top;
  background-repeat: no-repeat;
  margin: 40px 20px;
  color: transparent;
  transition: all 400ms ease-in-out;
  opacity: 0.6;
}
/* line 481, ../scss/_main.scss */
.inspiration .social-links a.instagram {
  background-image: url(../img/instagram.png);
}
/* line 484, ../scss/_main.scss */
.inspiration .social-links a.facebook {
  background-image: url(../img/facebook.png);
}
/* line 487, ../scss/_main.scss */
.inspiration .social-links a.pinterest {
  background-image: url(../img/pinterest.png);
}
/* line 490, ../scss/_main.scss */
.inspiration .social-links a:hover {
  opacity: 1;
}
/* line 493, ../scss/_main.scss */
.inspiration .social-links a span {
  position: absolute;
  top: 0;
  left: 0;
  width: 64px;
  height: 64px;
}
/* line 502, ../scss/_main.scss */
.inspiration .carousel {
  margin: 80px auto;
  width: 100%;
  overflow: hidden;
}
/* line 506, ../scss/_main.scss */
.inspiration .carousel .container-fluid {
  padding: 0;
}
/* line 510, ../scss/_main.scss */
.inspiration .carousel .carousel-inner img {
  margin: 0 auto;
  max-height: 600px;
}
/* line 515, ../scss/_main.scss */
.inspiration .carousel .carousel-indicators {
  bottom: 0;
}
/* line 517, ../scss/_main.scss */
.inspiration .carousel .carousel-indicators li {
  width: 12px;
  height: 12px;
  border: 0;
  margin: 5px;
  background: rgba(255, 255, 255, 0.5);
  vertical-align: middle;
  transition: all 300ms ease-in-out;
}
/* line 526, ../scss/_main.scss */
.inspiration .carousel .carousel-indicators li.active, .inspiration .carousel .carousel-indicators li:hover {
  background: white;
}
/* line 531, ../scss/_main.scss */
.inspiration .carousel .carousel-control {
  width: 80px;
  height: 80px;
  top: 50%;
  margin-top: -40px;
  background-image: none;
}
/* line 538, ../scss/_main.scss */
.inspiration .carousel .carousel-control.left span, .inspiration .carousel .carousel-control.right span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
}
/* line 548, ../scss/_main.scss */
.inspiration .carousel .carousel-control.left {
  left: 55px;
}
/* line 549, ../scss/_main.scss */
.inspiration .carousel .carousel-control.left span {
  background-image: url(../img/arrow-left.png);
}
/* line 554, ../scss/_main.scss */
.inspiration .carousel .carousel-control.right {
  right: 55px;
}
/* line 555, ../scss/_main.scss */
.inspiration .carousel .carousel-control.right span {
  background-image: url(../img/arrow-right.png);
}
/* line 564, ../scss/_main.scss */
.inspiration .carousel .carousel-control .glyphicon-chevron-left,
.inspiration .carousel .carousel-control .glyphicon-chevron-right,
.inspiration .carousel .carousel-control .icon-prev,
.inspiration .carousel .carousel-control .icon-next {
  font-size: 80px;
  color: black;
}

/* ========================================================================= */
/* FOOTER
/* ========================================================================= */
/* line 573, ../scss/_main.scss */
.footer {
  background-image: url(../img/footerpattern.jpg);
  background-repeat: repeat;
  padding: 10px 0 60px 0;
}
/* line 578, ../scss/_main.scss */
.footer h4,
.footer p {
  padding: 30px 0;
}
/* line 581, ../scss/_main.scss */
.footer .footertext {
  font-size: 30px;
  font-family: 'Playfair Display', serif;
}
/* line 585, ../scss/_main.scss */
.footer .logo {
  margin-top: 60px;
}

/* ========================================================================= */
/* MODAL
/* ========================================================================= */
/* line 592, ../scss/_main.scss */
.modal {
  z-index: 99999;
}
/* line 594, ../scss/_main.scss */
.modal .modal-dialog {
  width: 900px;
}
/* line 596, ../scss/_main.scss */
.modal .modal-dialog .modal-content {
  background: #f8f8f8;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}
/* line 601, ../scss/_main.scss */
.modal .modal-dialog .modal-content .close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  overflow: hidden;
  font-size: 4em;
  line-height: 35px;
  width: 50px;
  height: 50px;
  padding: 5px 10px;
  margin: 0;
  position: absolute;
  color: #555555;
  font-weight: 300;
  opacity: 1;
  z-index: 99990909;
}
/* line 620, ../scss/_main.scss */
.modal .modal-dialog .modal-content .modal-header {
  border: 0;
}
/* line 622, ../scss/_main.scss */
.modal .modal-dialog .modal-content .modal-header h3 {
  margin: 0;
}
/* line 628, ../scss/_main.scss */
.modal .modal-dialog .modal-content .modal-body .big-image,
.modal .modal-dialog .modal-content .modal-body .thumbnails {
  float: right;
}
/* line 631, ../scss/_main.scss */
.modal .modal-dialog .modal-content .modal-body .big-image {
  width: 85%;
  height: 460px;
  margin-top: 0px;
  overflow: hidden;
}
/* line 637, ../scss/_main.scss */
.modal .modal-dialog .modal-content .modal-body .big-image img {
  width: 100%;
}
/* line 641, ../scss/_main.scss */
.modal .modal-dialog .modal-content .modal-body .thumbnails {
  width: 15%;
  margin: 0 auto;
}
/* line 644, ../scss/_main.scss */
.modal .modal-dialog .modal-content .modal-body .thumbnails img {
  width: 100px;
  height: 100px;
  margin: 0px 10px 20px 0px;
}
/* line 650, ../scss/_main.scss */
.modal .modal-dialog .modal-content .modal-body .modal-text {
  text-align: center;
}
/* line 652, ../scss/_main.scss */
.modal .modal-dialog .modal-content .modal-body .modal-text p {
  font-size: 16px;
}

/* line 660, ../scss/_main.scss */
.modal-backdrop {
  z-index: 99998;
  background: black;
}

/* ========================================================================= */
/* TOOLTIPS
/* ========================================================================= */
/* line 668, ../scss/_main.scss */
.tooltip > .tooltip-inner {
  font-size: 1.1em;
}

/* line 671, ../scss/_main.scss */
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: rgba(162, 175, 189, 0.8);
}

/* line 674, ../scss/_main.scss */
.tooltip-inner {
  padding: 5px;
  background: rgba(162, 175, 189, 0.8);
}

/* ========================================================================= */
/* COMING SOON
/* ========================================================================= */
/* line 681, ../scss/_main.scss */
.coming-soon {
  background-image: url(../img/soon.jpg);
  width: 100%;
  display: table;
  height: 100%;
  position: relative;
}
/* line 687, ../scss/_main.scss */
.coming-soon .soon-inner {
  width: 600px;
  text-align: center;
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -300px;
}
/* line 694, ../scss/_main.scss */
.coming-soon .soon-inner h1 {
  font-size: 5em;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  /* line 3, ../scss/_responsive.scss */
  header .mobile-link {
    display: block;
  }
  /* line 7, ../scss/_responsive.scss */
  header .logo,
  header .social {
    width: 30%;
  }
  /* line 10, ../scss/_responsive.scss */
  header .header-navigation {
    display: none;
  }

  /* line 14, ../scss/_responsive.scss */
  .landing {
    background-size: 1200px auto;
  }

  /* line 17, ../scss/_responsive.scss */
  .section p {
    padding: 0px 150px;
  }

  /* line 20, ../scss/_responsive.scss */
  .regler p {
    padding: 60px;
  }

  /* line 23, ../scss/_responsive.scss */
  .inspiration .carousel .carousel-control.left {
    left: 40px;
  }

  /* line 26, ../scss/_responsive.scss */
  .inspiration .carousel .carousel-control.right {
    right: 40px;
  }

  /* line 30, ../scss/_responsive.scss */
  .modal .modal-dialog {
    width: 90%;
  }
  /* line 35, ../scss/_responsive.scss */
  .modal .modal-dialog .modal-content .modal-header {
    border: 0;
  }
  /* line 37, ../scss/_responsive.scss */
  .modal .modal-dialog .modal-content .modal-header h3 {
    margin: 0;
  }
  /* line 43, ../scss/_responsive.scss */
  .modal .modal-dialog .modal-content .modal-body .big-image,
  .modal .modal-dialog .modal-content .modal-body .thumbnails {
    float: none;
    width: 100%;
  }
  /* line 47, ../scss/_responsive.scss */
  .modal .modal-dialog .modal-content .modal-body .big-image {
    height: auto;
  }
  /* line 50, ../scss/_responsive.scss */
  .modal .modal-dialog .modal-content .modal-body .thumbnails {
    width: 100%;
    margin: 0 auto;
  }
  /* line 53, ../scss/_responsive.scss */
  .modal .modal-dialog .modal-content .modal-body .thumbnails a {
    display: inline-block;
  }
  /* line 56, ../scss/_responsive.scss */
  .modal .modal-dialog .modal-content .modal-body .thumbnails img {
    margin: 20px 20px 20px 0px;
    width: 120px;
    height: 120px;
  }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
  /* line 70, ../scss/_responsive.scss */
  header .mobile-link {
    display: block;
    float: right;
    width: 25%;
  }
  /* line 75, ../scss/_responsive.scss */
  header .social {
    display: none;
  }
  /* line 78, ../scss/_responsive.scss */
  header .header-navigation {
    display: none;
  }

  /* line 82, ../scss/_responsive.scss */
  .mobile-social {
    display: block;
  }

  /* line 85, ../scss/_responsive.scss */
  h2 {
    font-size: 40px;
  }

  /* line 88, ../scss/_responsive.scss */
  p {
    font-size: 20px;
  }

  /* line 91, ../scss/_responsive.scss */
  .section p {
    padding: 0px 50px;
  }

  /* line 94, ../scss/_responsive.scss */
  .landing {
    background-size: 1200px auto;
  }

  /* line 97, ../scss/_responsive.scss */
  .videobutton {
    max-width: 400px;
  }

  /* line 100, ../scss/_responsive.scss */
  .reglerbg {
    margin: 20px;
    padding: 20px;
  }

  /* line 104, ../scss/_responsive.scss */
  .regler p {
    padding: 60px;
  }

  /* line 107, ../scss/_responsive.scss */
  .inspiration .carousel .carousel-control.left {
    left: 0px;
  }

  /* line 110, ../scss/_responsive.scss */
  .inspiration .carousel .carousel-control.right {
    right: 0px;
  }

  /* line 114, ../scss/_responsive.scss */
  .modal .modal-dialog {
    width: 100%;
    margin: 0;
  }
  /* line 118, ../scss/_responsive.scss */
  .modal .modal-dialog .modal-content .modal-header {
    padding-right: 80px;
  }
  /* line 123, ../scss/_responsive.scss */
  .modal .modal-dialog .modal-content .modal-body .big-image,
  .modal .modal-dialog .modal-content .modal-body .thumbnails {
    float: none;
    width: 100%;
  }
  /* line 127, ../scss/_responsive.scss */
  .modal .modal-dialog .modal-content .modal-body .big-image {
    height: auto;
  }
  /* line 130, ../scss/_responsive.scss */
  .modal .modal-dialog .modal-content .modal-body .thumbnails {
    width: 100%;
    margin: 0 auto;
  }
  /* line 133, ../scss/_responsive.scss */
  .modal .modal-dialog .modal-content .modal-body .thumbnails a {
    display: inline-block;
  }
  /* line 136, ../scss/_responsive.scss */
  .modal .modal-dialog .modal-content .modal-body .thumbnails img {
    margin: 20px 20px 20px 0px;
    width: 85px;
    height: 85px;
  }
}
@media screen and (max-width: 480px) {
  /* line 150, ../scss/_responsive.scss */
  header .mobile-link {
    display: block;
    float: right;
    width: 25%;
  }
  /* line 155, ../scss/_responsive.scss */
  header .social {
    display: none;
  }
  /* line 158, ../scss/_responsive.scss */
  header .header-navigation {
    display: none;
  }

  /* line 162, ../scss/_responsive.scss */
  .mobile-social {
    display: block;
  }

  /* line 165, ../scss/_responsive.scss */
  h2 {
    font-size: 30px;
  }

  /* line 168, ../scss/_responsive.scss */
  p {
    font-size: 20px;
  }

  /* line 171, ../scss/_responsive.scss */
  .section p {
    padding: 0px 50px;
  }

  /* line 174, ../scss/_responsive.scss */
  .landing {
    background-size: 1200px auto;
  }

  /* line 177, ../scss/_responsive.scss */
  .videobutton {
    max-width: 300px;
  }

  /* line 180, ../scss/_responsive.scss */
  .reglerbg {
    margin: 0px;
    padding: 20px;
  }

  /* line 184, ../scss/_responsive.scss */
  .regler p {
    padding: 60px;
  }

  /* line 187, ../scss/_responsive.scss */
  .inspiration .carousel .carousel-control.left {
    left: 0px;
  }

  /* line 190, ../scss/_responsive.scss */
  .inspiration .carousel .carousel-control.right {
    right: 0px;
  }

  /* line 194, ../scss/_responsive.scss */
  .modal .modal-dialog {
    width: 100%;
    margin: 0;
  }
  /* line 198, ../scss/_responsive.scss */
  .modal .modal-dialog .modal-content .close {
    top: 0;
    right: 0;
  }
  /* line 202, ../scss/_responsive.scss */
  .modal .modal-dialog .modal-content .modal-header {
    padding-right: 80px;
  }
  /* line 207, ../scss/_responsive.scss */
  .modal .modal-dialog .modal-content .modal-body .big-image,
  .modal .modal-dialog .modal-content .modal-body .thumbnails {
    float: none;
    width: 100%;
  }
  /* line 211, ../scss/_responsive.scss */
  .modal .modal-dialog .modal-content .modal-body .big-image {
    height: auto;
  }
  /* line 214, ../scss/_responsive.scss */
  .modal .modal-dialog .modal-content .modal-body .thumbnails {
    width: 100%;
    margin: 0 auto;
  }
  /* line 217, ../scss/_responsive.scss */
  .modal .modal-dialog .modal-content .modal-body .thumbnails a {
    display: inline-block;
  }
  /* line 220, ../scss/_responsive.scss */
  .modal .modal-dialog .modal-content .modal-body .thumbnails img {
    margin: 20px 20px 20px 0px;
    width: 60px;
    height: 60px;
  }
}
