/*colors*/
$white: #ffffff;
$lightgray:#f8f8f8;
$lightwhite: rgba(255, 255, 255, 0.8);
$lightblack: rgba(98, 98, 97,0.8); /*#626261*/
$verylightgray:#efefef;
$gray:#ccc;

// LAURA: added from design
$sectionline: #61666d;
$textcolor: #555;


