/*colors*/

$sectionline: #61666d;
$border-grey: #eee;

$textcolor: #555;

$buttoncolor: rgba(124,199,199,.8);

$white: #fff;
$lightgrey: #f8f8f8;
$lightwhite: rgba(255, 255, 255, 0.8);
$lightblack: rgba(98, 98, 97,0.8); /*#626261*/
$verylightgrey: #efefef;
$grey: #ccc;
