@media screen and (max-width: 1024px) and (min-width: 768px) {
    header {
        .mobile-link {
            display: block;
        }
        .logo,
        .social {
            width: 30%;
        }
        .header-navigation {
            display: none;
        }
    }
    .landing {
        background-size: 1200px auto;
    }
    .section p {
            padding: 0px 150px;
    }
    .tavlingen p {
        padding: 60px;
    }
    .inspiration .carousel .carousel-control.left {
        left: 40px;
    }
    .inspiration .carousel .carousel-control.right {
        right: 40px;
    }
    .modal{
        .modal-dialog {
            width: 90%;
            .modal-content {
                .close {
                }
                .modal-header {
                    border: 0;
                    h3 {
                        margin: 0;
                    }
                }
                .modal-body {
                    .big-image,
                    .thumbnails {
                        float: none;
                        width: 100%;
                    }
                    .big-image {
                        height: auto;
                    }
                    .thumbnails {
                        width: 100%;
                        margin: 0 auto;
                        a {
                            display: inline-block;
                        }
                        img {
                            margin: 20px 20px 20px 0px;
                            width: 120px;
                            height: 120px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) and (min-width: 480px) {
    header {
        .mobile-link {
            display: block;
            float: right;
            width: 25%;
        }
        .social {
            display: none;
        }
        .header-navigation {
            display: none;
        }
    }
    .mobile-social {
        display: block;
    }
    h2 {
        font-size: 40px;
    }
    p {
        font-size: 20px;
    }
    .section p {
            padding: 0px 50px;
    }
    .landing {
        background-size: 1200px auto;
    }
    .videobutton {
        max-width: 400px;
    }
    .reglerbg {
        margin: 20px;
        padding: 20px;
    }
    .tavlingen p {
        padding: 60px;
    }
    .inspiration .carousel .carousel-control.left {
        left: 0px;
    }
    .inspiration .carousel .carousel-control.right {
        right: 0px;
    }
    #loadedImage {
        // TODO: FIX INSTAGRAM ON MOBILE
        padding: 10px 50px 40px 50px;
        top: 0;
        left: 50%;
        margin-left: -165px;
        h4,
        .fb-like {
            width: 200px;
        }
        a {
            img {
                width: 200px;
                height: 200px;
            }
        }
    }
    .modal{
        .modal-dialog {
            width: 100%;
            margin: 0;
            .modal-content {
                .modal-header {
                    padding-right: 80px;
                }
                .modal-body {
                    .big-image,
                    .thumbnails {
                        float: none;
                        width: 100%;
                    }
                    .big-image {
                        height: auto;
                    }
                    .thumbnails {
                        width: 100%;
                        margin: 0 auto;
                        a {
                            display: inline-block;
                        }
                        img {
                            margin: 20px 20px 20px 0px;
                            width: 85px;
                            height: 85px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    header {
        .mobile-link {
            display: block;
            float: right;
            width: 25%;
        }
        .social {
            display: none;
        }
        .header-navigation {
            display: none;
        }
    }
    .mobile-social {
        display: block;
    }
    h2 {
        font-size: 30px;
    }
    p {
        font-size: 20px;
    }
    .section p {
            padding: 0px 50px;
    }
    .landing {
        background-size: 1200px auto;
    }
    .videobutton {
        max-width: 300px;
    }
    .reglerbg {
        margin: 0px;
        padding: 20px;
    }
    .tavlingen p {
        padding: 60px;
    }
    .inspiration .carousel .carousel-control.left {
        left: 0px;
    }
    .inspiration .carousel .carousel-control.right {
        right: 0px;
    }
    #loadedImage {
        // TODO: FIX INSTAGRAM ON MOBILE
        padding: 10px 50px 40px 50px;
        top: 0;
        left: 50%;
        margin-left: -100px;
        h4,
        .fb-like {
            width: 200px;
        }
        a {
            img {
                width: 200px;
                height: 200px;
            }
        }
    }
    .modal{
        .modal-dialog {
            width: 100%;
            margin: 0;
            .modal-content {
                .close {
                    top: 0;
                    right: 0;
                }
                .modal-header {
                    padding-right: 80px;
                }
                .modal-body {
                    .big-image,
                    .thumbnails {
                        float: none;
                        width: 100%;
                    }
                    .big-image {
                        height: auto;
                    }
                    .thumbnails {
                        width: 100%;
                        margin: 0 auto;
                        a {
                            display: inline-block;
                        }
                        img {
                            margin: 20px 20px 20px 0px;
                            width: 60px;
                            height: 60px;
                        }
                    }
                }
            }
        }
    }
}
