@import "base";


/* Root
**************************************/
body, html {
    margin: 0;
    height: 100%;
    color: $textcolor;
}

/* General
**************************************/
.section {
    text-align: center;
    padding: 60px 0 120px 0;
    p {
        padding: 0px 300px;
    }
}
h2 {
    text-transform: uppercase;
    font-size: 60px;
    font-family: 'Playfair Display', serif;
    color: $textcolor;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: $textcolor;
    font-weight: 300;
}

.section-line {
    height: 1px;
    width: 200px;
    border-bottom: 1px solid $sectionline;
    text-align: center;
    margin: 20px auto 40px auto;
    padding: 20px 0;
}
/* Navigation
**************************************/
header {
    position: fixed;
    background: white;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px;
    z-index: 9000;
}
.header-navigation {
    nav {
        ul {
            list-style-type: none;
            li {
                display: inline-block;
                padding: 5px 10px;
                a {
                    font-family: 'Roboto', sans-serif;
                    text-transform: uppercase;
                    color: $textcolor;
                    font-size: 1.2em;
                }
            }
        }
    }
}

/* Tävling
**************************************/
.tavling {
	background: transparent url(../img/tavling.jpg);
	background-repeat: no-repeat;
	background-size: auto 1000px;
    background-position: top center;
    display: table;
    height: 100%;
	padding-top: 100px;
}
.button {
	background-color: $lightblack;
    color: $white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    padding: 20px;
    margin: 40px 20px;
    box-shadow: 0;
    border-radius: 0;
    border: 0;
    text-transform: uppercase;
    transition: all 200ms ease;
    &:hover {
        background-color: darken($lightblack, 5%);
    }
}
.midibutton {
}
.bigbutton {

}
/* Regler
**************************************/
.regler {
	background: transparent url(../img/regler.jpg);
	background-repeat: repeat;
    padding: 0;
    ol {
        margin: 0 auto;
        max-width: 600px;
        li {
            font-size: 30px;
            font-family: 'Playfair Display', serif;
            padding: 10px 0;
        }
    }
    p {
        padding: 60px 200px;
    }
}
.reglerbg {
	background-color:$lightwhite;
	margin: 60px;
    padding: 60px;
}

/* Vinst
**************************************/
.vinst {
	background-color: $lightgray;
	min-height: 700px;
}
img {
	width: 200px;
	height: 200px;
	border: 15px solid $white;
	margin-top: 30px;
}

/* Inspiration
**************************************/
.inspiration {
	background-color: $verylightgray;
	min-height: 700px;
}

/* Instagram
**************************************/
.instagram {
	background-color: $verylightgray;
	min-height: 700px;
}
#instagram {
    .grid-image {
        position: relative;
        // background: red;
        img {
            min-width: 306px;
            height: 306px;
            // width: 100% auto;
            border: 0;
            margin: 0;
            margin-top: 30px;
        }
        .fb-like {
            background: rgba(255,255,255,.7);
            padding: 20px;
            width: 306px;
            // width: 100%;
            text-align: center;
            button {
                padding: 10px;
            }
        }
    }
}
#load-more {
    button {
        margin-top: 100px;
    }
}
/* Footer
**************************************/
.footer {
    // LAURA: Added the pattern so it can repeat
	background: transparent url(../img/footerbg.jpg);
	background-repeat: repeat;
    p {
        padding-bottom: 20px;
    }
    .footertext {
    	font-size: 30px;
    	font-family: 'Playfair Display', serif;
    	margin-top: 80px;
    }
}

@import "responsive";
