#
# Based on Apache/PHP/Drupal settings licensed under GNU GENERAL PUBLIC LICENSE:
#

    RewriteEngine on
    RewriteRule ^css/(.*) ../css/$1 [L]
    RewriteRule ^js/(.*) ../js/$1 [L]
    RewriteRule ^img/(.*) ../img/$1 [L]
    RewriteRule ^fonts/(.*) ../fonts/$1 [L]

    # Pass all requests not referring directly to files in the filesystem to
    # index.php. Clean URLs are handled in drupal_environment_initialize().
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
